:root {
  --title-font: "Cormorant Garamond", serif;
  --neutral-font: "Montserrat", sans-serif;
  --color-main: #fae7e7;
  --color-secondary: #fc7273;
}

body {
  margin: 0;
  font-family: var(--neutral-font);
  animation: changeBg 5s infinite alternate linear;
}
@keyframes changeBg {
  0% {
    background: #011012;
  }
  25% {
    background: #1d1057;
  }
  50% {
    background: #1a244d;
  }
  75% {
    background: #141b3f;
  }
  100% {
    background: #162f4e;
  }
}

/* The navigation bar */
.navbar,
.navbar-about {
  overflow: hidden;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  opacity: 0.8;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a,
.navbar-about a {
  float: left;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #dee1ec;
}

.author-name {
  font-size: 110px;
  font-weight: normal;
  color: #fae7e7;
  text-align: center;
  font-weight: normal;
  font-family: var(--neutral-font);
}
@media screen and (max-width: 900px) {
  .author-name {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/* animation */
.typing {
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.typing-effect {
  width: 31ch;
  animation: typing 5s steps(22), effect 6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--neutral-font);
  color: #fae7e7;
  margin-bottom: 60px;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes effect {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 900px) {
  .typing-effect {
    font-size: 1.5rem;
    margin-bottom: 0;
    animation: typing 5s steps(22), effect 6s step-end infinite alternate;
  }
}
@media screen and (max-width: 900px) {
  .typing {
    margin: 0;

    margin-bottom: 0;
    margin-top: 0;
    height: 60px;
    font-weight: lighter;
  }
}
.subheader-main {
  font-family: var(--neutral-font);
  font-size: 60px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
  color: #fae7e7;
  font-weight: lighter;
}
@media screen and (max-width: 900px) {
  .subheader-main {
    font-size: 2rem;
    margin: 0;
  }
}
.greetings {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: #041729;
  line-height: 40px;
}
.greetings:hover {
  color: #82318a;
  transition: 0.6s ease-in-out;
}
.header-buttons {
  text-align: center;
  margin-bottom: 60px;
}

/* Slides */

.showSlide {
  display: none;
}
.showSlide img {
  width: 100%;
  border-radius: 6px;
}
.slidercontainer {
  max-width: 80%;
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
}

.left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--color-main);
  font-weight: bold;
  font-size: 100px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.arrows {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .arrows {
    height: 30px;
  }
}

@media screen and (min-width: 900px) {
  .left-previous,
  .right-previous {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .left-previous,
  .right-previous {
    font-size: 35px;
    margin-top: -10px;
    margin-bottom: 0;
    cursor: pointer;
    color: var(--color-main);
    top: 110%;
    width: auto;
    padding: 16px;

    font-weight: bold;

    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
}
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
  color: #d18997;
}
.content {
  color: #d18997;
  font-size: 20px;
  position: absolute;
  top: 15px;
  width: 99%;
  text-align: end;
}
@media screen and (max-width: 900px) {
  .content,
  .left,
  .right {
    font-size: 5px;
    margin-top: -10px;
  }
}
@media screen and (max-width: 900px) {
  .left,
  .right {
    font-size: 10px;
  }
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Buttons */
.button {
  display: inline-block;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  border: none;
  color: #011e6f;
  text-align: center;
  font-size: 18px;
  padding: 18px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: black;
  transition: 0.5s;
  font-family: var(--neutral-font);
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 900px) {
  .button {
    width: 100px;
    height: 35px;
    font-size: 12px;
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
  .header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.main-image,
.contacts-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/futuristic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  margin: 0 auto;
}
.contacts-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/note.jpeg);
}
.profile-pic {
  max-width: 300px;
  border-radius: 200px;
}
.homepage-about {
  color: var(--color-main);
  font-family: var(--title-font);
  line-height: 30px;
  font-size: 24px;
}
.link-cv {
  text-decoration: none;
  color: #d18997;
}
.author-greetings {
  font-size: 48px;
  color: white;
  text-align: center;
  font-family: var(--neutral-font);
}
.author-story {
  line-height: 40px;
  font-size: 16px;
  font-family: var(--neutral-font);
}
.coded-author {
  text-decoration: none;
  color: #d9d9d9;
}
footer,
.footer-text-center,
.text-center-contacts {
  height: 100px;
  margin-top: 100px;
  text-align: center;
}

footer i {
  color: #bcbcbc;
  font-size: 16px;
  background: white;
  padding: 10px;
  border-radius: 100%;
  margin: 10px 15px;
}
@media screen and (max-width: 900px) {
  footer {
    margin-top: 0px;
  }
}

footer i:hover {
  color: #1a244d;
}

footer p {
  font-size: 10px;
  margin: 10px auto;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .footer-text-center {
    margin-top: 0;
  }
}
.skills-box {
  width: 620px;
  height: 100px;
  background-color: white;
  opacity: 0.2;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .skills-box {
    width: 380px;
    height: 60px;
  }
}

.icon-wrappers {
  width: 75px;
}
@media screen and (max-width: 900px) {
  .icon-wrappers {
    width: 50px;
  }
}
.skills-icons {
  height: 90px;
  filter: drop-shadow(5px 5px 10px rgb(0, 0, 0, 0.4));
}
@media screen and (max-width: 900px) {
  .skills-icons {
    height: 40px;
  }
}

@media screen and (max-width: 900px) {
  .skills-section {
    max-width: 100%;
  }
}

.skills-icons:hover {
  height: 110px;
}
@media screen and (max-width: 900px) {
  .skills-icons:hover {
    height: 43px;
  }
}
.certification-box {
  height: 180px;
  max-width: 100%;
}
@media screen and (max-width: 900px) {
  .certification-box {
    height: 100px;
  }
}
.certification-wrappers {
  width: 350px;
}
@media screen and (max-width: 900px) {
  .certification-wrappers {
    width: 100px;
  }
}
.certification-icons {
  height: 170px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgb(0, 0, 0, 0.4));
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .certification-icons {
    height: 50px;
  }
}
.certification-icons:hover {
  height: 195px;
}
@media screen and (max-width: 900px) {
  .certification-icons:hover {
    height: 50px;
  }
}

.card-wrapper:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1450px) {
  .second-section-main {
    margin: 32rem auto;
  }
}
@media screen and (max-width: 900px) {
  .second-section-main {
    margin: 8rem auto;
  }
}
/*projects header*/

.projects-header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: var(--color-main);
  font-size: 40px;
  padding: 5px 8px;
}

@media screen and (min-width: 1490px) {
  .projects-header {
    top: 10%;
  }
}

.projects-header:hover {
  color: white;
  font-size: 44px;
  transition: 0.6s ease-in-out;
}
.projects-header::before,
.projects-header::after,
.projects-header-span::before,
.projects-header-span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  transition: 0.5s;
}
.projects-header::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #072268;
  border-left: 2px solid #072268;
}
.projects-header::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #072268;
  border-right: 2px solid #072268;
}
.projects-header-span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #072268;
  border-left: 2px solid #072268;
}
.projects-header-span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #072268;
  border-right: 2px solid #072268;
}
.projects-header:hover::before,
.projects-header:hover::after,
.projects-header:hover .projects-header-span::before,
.projects-header:hover .projects-header-span::after {
  width: calc(180px / 2);
  height: calc(50px / 2);
}

.project-pic {
  max-width: 600px;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .project-pic {
    max-width: 350px;
  }
}
.projects-about {
  color: var(--color-main);
  font-family: var(--neutral-font);
  line-height: 30px;
  font-size: 14px;
  margin-top: 140px;
}

.typing-project-weather {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.typing-effect-project-weather {
  width: 18ch;
  animation: typing 2s steps(22), effect 1s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: var(--neutral-font);
  color: var(--color-secondary);
  margin-bottom: 60px;
}
form {
  color: var(--neutral-color);
  font-family: var(--neutral-font);
  font-size: 14px;
}

form .primary-button:hover {
  color: var(--theme-color);
}
.form-request {
  width: 500px;
  height: 200px;
  margin-top: 200px;
  margin-bottom: 20px;
  margin-left: 100px;
  font-size: 24px;
  font-weight: lighter;
  border: 1px solid #072268;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px 4px #072268, -6px -6px 6px;
}
@media screen and (max-width: 900px) {
  .form-request {
    width: 300px;
    height: 260px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 220px;
  }
}
.input-name,
.input-email {
  width: 204px;
  border-radius: 7px;
  margin-left: 10px;
  height: 27px;
}
.input-email {
  margin-left: 14px;
}
.input-message {
  border-radius: 7px;
  margin-left: 40px;
  width: 205px;
  height: 27px;
}
.contact-span {
  font-size: 38px;
}
@media screen and (max-width: 900px) {
  .contact-span {
    font-size: 27px;
  }
}
@media screen and (max-width: 900px) {
  .input-message,
  .input-email,
  .input-name {
    margin-left: 10px;
    margin-top: 10px;
  }
}
.label-contacts {
  color: var(--color-main);
  text-align: center;
}
.form-part {
  margin-left: 45px;
}

.button-contacts {
  margin-top: 80px;
  padding: 20px;
  font-size: 24px;
  width: 200px;
  border-radius: 0.5em;
  color: #090909;
  border: 1px solid #e8e8e8;
  transition: all 0.5s;
  box-shadow: 6px 6px 12px #072268, -6px -6px 12px #fff;
}
@media screen and (max-width: 900px) {
  .button-contacts {
    width: 100px;
    height: 40px;
    background: #fff;
    box-shadow: 6px 6px 12px #216490, -6px -6px 12px #fff;
    transition: all 0.5s;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 60px;
    font-weight: lighter;
  }
}
.button-contacts:hover {
  box-shadow: -6px -6px 12px #216490, 6px 6px 12px #fff;
}
/* animation loading certification*/
.dots-loading {
  position: relative;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
  border-radius: 10px;
  padding-top: 5px;
}
@media screen and (max-width: 900px) {
  .dots-loading {
    display: none;
  }
}
.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.dots-span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
/*container*/
.container-phrase {
  display: flex;
  /*   border:1px solid red; */
  height: 30%;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .container-phrase {
    height: 10%;
  }
}
svg {
  display: block;
  font: 5.5em var(--neutral-font);
  width: 960px;
  height: 200px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  svg {
    height: 100px;
  }
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #444962;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #c4c6dc;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #7f898f;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #51606a;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #7f888e;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
