:root {
  --title-font: "Cormorant Garamond", serif;
  --secondary-font: "Alegreya", serif;
  --neutral-font: "Montserrat", sans-serif;
  --color-main: #fae7e7;
}

body {
  margin: 0;
  font-family: var(--neutral-font);
  /*background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  ); */
  animation: changeBg 3s infinite alternate linear;
}
@keyframes changeBg {
  0% {
    background: #011012;
  }
  25% {
    background: #1d1057;
  }
  50% {
    background: #1a244d;
  }
  75% {
    background: #324982;
  }
  100% {
    background: #395492;
  }
}
/* The navigation bar */
.navbar,
.navbar-about {
  overflow: hidden;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a,
.navbar-about a {
  float: left;
  display: block;
  color: #011e6f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #dee1ec;
  color: #82318a;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.author-name {
  font-size: 126px;
  color: #fae7e7;
  text-align: center;
  font-weight: bold;
  font-family: var(--title-font);
}
@media screen and (max-width: 900px) {
  .author-name {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/* animation */
.typing {
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.typing-effect {
  width: 31ch;
  animation: typing 5s steps(22), effect 6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: var(--title-font);
  color: #ff9077;
  margin-bottom: 60px;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes effect {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 900px) {
  .typing-effect {
    font-size: 2rem;
    margin-bottom: 0;
    animation: typing 5s steps(22), effect 6s step-end infinite alternate;
  }
}
@media screen and (max-width: 900px) {
  .typing {
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 60px;
    font-weight: normal;
  }
}
.subheader-main {
  font-family: var(--secondary-font);
  font-size: 60px;
  text-align: center;
  margin-top: 150px;
  color: #fae7e7;
  font-weight: lighter;
}
@media screen and (max-width: 900px) {
  .subheader-main {
    font-size: 2rem;
    margin: 0;
  }
}
.greetings {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: #041729;
  line-height: 40px;
}
.greetings:hover {
  color: #82318a;
  transition: 0.6s ease-in-out;
}
.header-buttons {
  text-align: center;
  margin-bottom: 60px;
}

/* Slides */

.showSlide {
  display: none;
}
.showSlide img {
  width: 100%;
  border-radius: 6px;
}
.slidercontainer {
  max-width: 80%;
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
}
.left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #011e6f;
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.arrows {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .arrows {
    height: 30px;
  }
}

@media screen and (min-width: 900px) {
  .left-previous,
  .right-previous {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .left-previous,
  .right-previous {
    font-size: 35px;
    margin-top: -10px;
    margin-bottom: 0;
    cursor: pointer;
    color: #011e6f;
    top: 110%;
    width: auto;
    padding: 16px;

    font-weight: bold;

    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
}
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
  color: #d18997;
}
.content {
  color: #d18997;
  font-size: 20px;
  position: absolute;
  top: 15px;
  width: 99%;
  text-align: end;
}
@media screen and (max-width: 900px) {
  .content,
  .left,
  .right {
    font-size: 5px;
    margin-top: -10px;
  }
}
@media screen and (max-width: 900px) {
  .left,
  .right {
    font-size: 10px;
  }
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Buttons */
.button {
  display: inline-block;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  border: none;
  color: #011e6f;
  text-align: center;
  font-size: 18px;
  padding: 18px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 900px) {
  .header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/pineapple.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  margin: 0 auto;
}
.profile-pic {
  max-width: 300px;
  border-radius: 500px;
}
.homepage-about {
  color: var(--color-main);
  font-family: var(--title-font);
  line-height: 30px;
  font-size: 24px;
}
.link-cv {
  text-decoration: none;
  color: #d18997;
}
.author-greetings {
  font-size: 48px;
  text-align: center;
}
.author-story {
  line-height: 40px;
  font-family: var(--title-font);
}
.coded-author {
  text-decoration: none;
  color: #d9d9d9;
}
footer,
.footer-text-center {
  height: 100px;
  margin-top: 100px;
  text-align: center;
}

footer i {
  color: #bcbcbc;
  font-size: 16px;
  background: white;
  padding: 10px;
  border-radius: 100%;
  margin: 10px 15px;
}
@media screen and (max-width: 900px) {
  footer {
    margin-top: 0px;
  }
}

footer i:hover {
  color: #1a244d;
}

footer p {
  font-size: 10px;
  margin: 10px auto;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .footer-text-center {
    margin-top: 0;
  }
}
.skills-box {
  height: 70px;
}

.icon-wrappers {
  width: 75px;
}
@media screen and (max-width: 900px) {
  .icon-wrappers {
    width: 50px;
  }
}
.skills-icons {
  height: 50px;
  filter: drop-shadow(5px 5px 10px rgb(0, 0, 0, 0.4));
}
@media screen and (max-width: 900px) {
  .skills-section {
    max-width: 100%;
  }
}

.skills-icons:hover {
  height: 80px;
}
@media screen and (max-width: 900px) {
  .skills-icons:hover {
    height: 60px;
  }
}
.certification-box {
  height: 180px;
  max-width: 100%;
}
@media screen and (max-width: 900px) {
  .certification-box {
    height: 100px;
  }
}
.certification-wrappers {
  width: 350px;
}
@media screen and (max-width: 900px) {
  .certification-wrappers {
    width: 100px;
  }
}
.certification-icons {
  height: 150px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgb(0, 0, 0, 0.4));
}
@media screen and (max-width: 900px) {
  .certification-icons {
    height: 50px;
  }
}
.certification-icons:hover {
  height: 180px;
}
@media screen and (max-width: 900px) {
  .certification-icons:hover {
    height: 50px;
  }
}

.card-wrapper:hover {
  transform: scale(1.1);
}
